body {
	margin: 0;
	font-family: sans-serif;
	background: lightgrey;
}

* {
  /* outline: 1px solid #f00 !important; */
	box-sizing: border-box;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	width: 1200px;
	max-width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 32px 20px 64px 20px;
}
@media (max-width: 500px) {
	main { padding: 32px 10px 64px 10px; }
}

button {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

:disabled {
	cursor: not-allowed;
	opacity: .5;
}

.white-bg {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

[inert] {
	opacity: 0.5;
}

.icon-button {
	border: none;
	background: none;
}
